{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ prop['ppin'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="ppin">PIN</label>
    <input name="ppin" id="ppin" value="{{ request.form['ppin'] or prop['ppin'] }}" required>
    <label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or prop['body'] }}</textarea>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('props.delete', id=prop['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
